is4/bin
is4/obj

SkyCommerce.Frete/bin
SkyCommerce.Frete/obj

SkyCommerce.loja/SkyCommerce.CrossCutting.Services/bin
SkyCommerce.loja/SkyCommerce.CrossCutting.Services/obj

SkyCommerce.loja/SkyCommerce.Data/bin
SkyCommerce.loja/SkyCommerce.Data/obj

SkyCommerce.loja/SkyCommerce.Site/bin
SkyCommerce.loja/SkyCommerce.Site/obj

SkyCommerce.loja/SkyCommerce.Store/bin
SkyCommerce.loja/SkyCommerce.Store/obj

.vs
.vscode